<div class="card card-compact w-auto bg-base-100 shadow-xl mr-5">
    <div class="card-body">
        
        <form class="card-body">
            <h2 class="text-2xl font-semibold">Change Info</h2>
            <div class="form-control">
                <label class="label">
                <span class="label-text">User Name</span>
                </label>
                <input type="text" placeholder="User Name" class="input input-bordered" required />
            </div>
            <div class="form-control">
                <label class="label">
                <span class="label-text">Email</span>
                </label>
                <input type="email" placeholder="email" class="input input-bordered" required />
            </div>
            <div class="form-control">
                <label class="label">
                <span class="label-text">Password</span>
                </label>
                <input type="password" placeholder="password" class="input input-bordered" required />
            </div>
            <div class="flex">
                <div class="form-control">
                    <label class="label">
                    <span class="label-text">State</span>
                    </label>
                    <input type="text" placeholder="State" class="input input-bordered" required />
                </div>
                <div class="form-control">
                    <label class="label">
                    <span class="label-text">City</span>
                    </label>
                    <input type="text" placeholder="City" class="input input-bordered ml-2" required />
                </div>
            </div>
            <div class="flex">
                <div class="form-control">
                    <label class="label">
                    <span class="label-text">Street</span>
                    </label>
                    <input type="text" placeholder="Street" class="input input-bordered" required />
                </div>
                <div class="form-control">
                    <label class="label">
                    <span class="label-text">Zip</span>
                    </label>
                    <input type="text" placeholder="Zip" class="input input-bordered ml-2" required />
                </div>
            </div>
            <div class="form-control mt-6">
                <button class="btn btn-primary">save</button>
            </div>
        </form>
    </div>
</div> 