<!DOCTYPE html>
<html lang="en">
	<head>
    {% load static %}
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
	</head>

	<body class="h-svh">

        <!--Header -->
        <div class="navbar bg-base-100 h-[10%]">
            <div class="flex-1 m-5">
              <a class="btn btn-ghost text-xl h-20">
                <img class="w-20" src="{% static '/logo.png' %}">
              </a>
              

              <a class="btn btn-ghost text-xl ml-4">Analytics</a>
              <a class="btn btn-ghost text-xl ml-2">Dashboard</a>
            </div>
            <div class="flex-none m-5">
              
              <div class="dropdown dropdown-end m-5">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                  <div class="avatar online placeholder">
                    <div class="bg-neutral text-neutral-content rounded-full w-9">
                      <span class="text-xl">AI</span>
                    </div>
                  </div>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                  <li>
                    <a class="justify-between">
                      Profile
                      <span class="badge">New</span>
                    </a>
                  </li>
                  <li><a>Settings</a></li>
                  <li><a href="{% url 'Logout' %}">Logout</a></li>
                </ul>
              </div>
            </div>
        </div>


        <!--Search Box and content area -->
        <div class="hero flex  items-center justify-center h-[70%]  bg-base-200 w-full">

          <div class="hero-content text-center flex-col">
            <div class="max-w-md">
              <h1 class="text-5xl font-bold">Hello there</h1>
              <p class="py-6">Welcome to Shera-Deal Search Analytics. 
                Search with the specific brand and model number. 
                We will bring you the best deal in the market. Additionally get valuebale insights of the product and market price. Cheers!

              </p>
            </div>

            <div class="flex items-center justify-center ">
              <label class="input input-bordered flex items-center gap-2 w-3/5">
                <input type="text" class="grow" placeholder="Search Your Device Name" />
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
              </label>
              <button class="btn btn-primary mx-2 w-40">Search</button>
            </div>

            
            
          </div>

          <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
              <h6 class="footer-title">Custom Settings <div class="badge badge-secondary">Pro</div></h6> 

              <p class="opacity-55">It is recommanded to use the default settings for the optimal search result. In case you know what you're doing, go ahread and make the changes as per need.</p>

              <div class="flex mt-1">
                <div>
                  <p class="font-semibold mt-3 mb-1 opacity-50"> Search Based On:</p>
                  <div class="flex justify-start mt-4">

                    <input type="radio" name="radio-10" class="radio checked:bg-red-500 mx-2" checked />
                    <p>Rating</p>
                    
                  </div>
                  <div class="mt-2 flex">
                    <input type="radio" name="radio-10" class="radio radio-primary mx-2" checked />
                    <p>Price</p>
                  </div>
                </div>

                <div class="divider lg:divider-horizontal"></div> 

                <div>
                  <p class="font-semibold mt-3 mb-1 opacity-50"> Location:</p>
                  <div class=" flex justify-start">

                    <select class="select select-bordered select-sm w-full ">
                      <option disabled selected>Choose Here</option>
                      <option>Dhaka</option>
                      <option>Ctg</option>
                      <option>Rajshahi</option>
                      <option>Khulna</option>
                      <option>Barishal</option>
                    </select>
                    
                  </div>
                  <div class="mt-2 flex">
                    <button class="btn btn-sm">Auto Detect</button>
                  </div>
                </div>
              </div>

              <button class="btn btn-sm mt-2">Reset</button>
              
              
            </div>
          </div>

          
          
        </div>

        


         <!--Footer -->
        <footer class="footer footer-center p-10  text-base-content rounded h-[20%]">
          <nav class="grid grid-flow-col gap-4">
            <a class="link link-hover">About us</a>
            <a class="link link-hover">Contact</a>
            <a class="link link-hover">Services</a>
          </nav> 
          <nav>
            <div class="grid grid-flow-col gap-4">
              <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg></a>
              <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path></svg></a>
              <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path></svg></a>
            </div>
          </nav> 
          <aside>
            <p>Copyright © 2024 - All right reserved by Bhugichugi</p>
          </aside>
        </footer>
        
        

    </body>
</html>
