<!DOCTYPE html>
<html lang="en">
	<head>
    {% load static %}
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
	</head>

	<body class="h-svh">
        <!--Search Box and content area -->
        {% include 'header.html' %}

        <div class="h-[70%] bg-base-200">
          <div class="flex items-start p-5">
            <form class="flex items-start justify-star" action="{% url 'search' %}" method="GET">
              <label class="input input-bordered flex items-center gap-2 w-3/5">
                <input type="text" name="searchKey" class="grow" placeholder="Search Your Device Name" />
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70">
                  <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
                </svg>
              </label>
              <button type="submit" class="btn btn-primary mx-2 w-40">Search</button>
            </form>
          </div>

          <div role="tablist" class="tabs tabs-lifted">
            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Simple View" checked />
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">

              {% include 'result-tab1.html' %}

            </div>
          
            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Detailed View" />
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">

              {% include 'result-tab2.html' %}

            </div>
          
          </div>
        </div>

        
        

    </body>
</html>
